<div class="page-header">
  <h1>Warren</h1>
</div>

<% @nodes.each do |node| %>
  <% node_id = $neo.get_id(node) %>
  <h3><%= node['data']['name'] %></h3>

  <h4>Members</h4>
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Name</th>
      <th>Aliases</th>
      <th></th>
    </thead>
    <tbody>
      <% $neo.get_node_relationships(node, "all", "MEMBER_OF").each do |relation| %>
        <% member = $neo.get_node(relation) %>
        <tr>
          <td><%= relation['data']['role'] %> (<%= relation['data']['status'] %>)</td>
          <td><%= member['data']['name'] %></td>
          <td><%= member['data']['aka'] %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

