<div class="page-header">
  <h1>People</h1>
</div>

<% @nodes.each do |node| %>
  <div class="well">
    <h3><%= node['data']['name'] %></h3>
  </div>

  <table class="table">
    <% node['data'].each do |key, value| %>
      <% next if key == 'name' %>
      <tr>
        <th><%= key %></th>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>

  <% if memberships = $neo.get_node_relationships(node, "out", "MEMBER_OF") %>
    <table class="table">
      <thead>
        <tr>
          <th>Group</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% memberships.each do |membership| %>
          <%
            rel_node = $neo.get_node(membership['end'])
            id =  $neo.get_id(rel_node)
          %>
          <tr>
            <td><a href="/nodes/<%= id %>"><%= rel_node['data']['name'] %></a></td>
            <td><%= membership['data']['role'] %></td><td><%= membership['data']['status'] %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>

